.wrapper {
    position: fixed;
    min-width: 276px;
    min-height: 1000vh;
    border-right: 1px solid rgba(0, 0, 0, 0.1);

    .text {
        font-size: 20px;
        font-weight: 600;
        margin: 20px 0px 10px 20px;
    }

    .container {
        height: 88vh;
        overflow: auto;
        display: flex;
        flex-direction: column;

        .container_child {
            border-radius: 8px;
            text-decoration: none;
            width: 250px;
            height: 40px;
            padding: 5px 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
            margin: 5px 12px;
            color: black;
            text-decoration: none;
            font-size: 16px;
            font-weight: 600;
           
        }

    }
}

.container_child.active {
    background-color: #f2f2f2;
    color: #2c3e50;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
}